
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.dateContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foodListText {
    font-weight: bold;
}



