

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.foodForm {
    width: 20%;
}

.foodForm > div {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.foodForm > div > label {
    flex: 0 0 100px;
}

.foodForm > div > input,
.foodForm > div > select {
    flex: 1;
    border-radius: 10px;
}


.addFoodButton {
    text-align: center;
    margin-top: 15px;
}