.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dateContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.dateTextAndValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.buttonContainer {
  display: flex;
  gap: 5px;
}

.previousDateArrow {
  cursor: pointer;
}


.nextDateArrow {
  cursor: pointer;
}

.macroContainer {
  display: flex;
}