.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dateContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.dateTextAndValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.buttonContainer {
  display: flex;
  gap: 5px;
}

.previousDateArrow {
  cursor: pointer;
}

.nextDateArrow {
  cursor: pointer;
}


.caloriesContainer {
  text-align: center;
}

.caloriesLabel {
  font-size: large;
}

.caloriesKcal {
  font-size: xx-large;
}

.macroContainer {
  display: flex;
  gap: 50px;
  text-align: center;
}

.macroLabel {
  color: grey;
}

.macroGrams {
  font-weight: 600;
}