.sideNav {
    height: 100%;
    /* width: 0; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav a, .sideNav label {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-wrap: nowrap;
}

.sideNav a:hover, .sideNav label:hover {
    cursor: pointer;
    color: #f1f1f1;
}

.sideNav .closeNav {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
}

.importInput {
    display: none;
}

@media screen and (max-height: 450px) {
    .sideNav {padding-top: 60px;}
    .sideNav a {font-size: 18px;}
}